@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html, body {
    @apply antialiased overflow-x-hidden;
    background-color: #F0F2F5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    overscroll-behavior-y: none;
  }

  /* Allow text selection in specific areas like lessons/inputs */
  input, textarea, [contenteditable="true"], .markdown-body {
    user-select: text;
  }

  button, a {
    @apply transition-all active:scale-95;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
